.btn {
  background: linear-gradient(93.56deg, #e1ff26 2.64%, #f5e9d2 129.06%);
}

.custom {
  background-color: #e1ff26;
}

.left_side {
  background: #f8f8f8;
}

.button {
  background-color: #FFFFFF;
  color:#131313;
  border: 1px solid #014F5914;
  letter-spacing: -5%;
}
